calibre/calibreConfig/Calibre\ Library/*
elasticeSearch/elasticeSearchDB/*
haproxy/haproxyLogs/*
n8n/n8nData/*
obsidian/obsidianVault/*
/obsidian/obsidianConfig/.config/obsidian/Cache/Cache_Data/*
/obsidian/obsidianConfig/.config/obsidian/IndexedDB/*
/elasticSearch/elasticSearchDB/_state/_27.cfe
/elasticSearch/elasticSearchDB/_state
/elasticSearch/elasticSearchDB/indices
/obsidian/obsidianConfig/.cache
/obsidian/obsidianConfig/.config
/obsidian/obsidianConfig/.dbus
/obsidian/obsidianConfig/.local
/elasticSearch/elasticSearchDB/snapshot_cache
/calibre/calibreConfig/.xorgxrdp.*
/calibre/calibreConfig/.config
/calibre/calibreConfig/.local
/obsidian/obsidianConfig/.xorgxrdp*
/calibre/calibreConfig/.cache
/calibre/calibreConfig/.dbus
/calibre/calibreConfig/.xsession-errors
/elasticSearch/elasticSearchDB/nodes
/elasticSearch/elasticSearchDB/node.lock
/obsidian/obsidianConfig/.pki/nssdb/cert9.db
/obsidian/obsidianConfig/.pki
/.docker-compose.yml.swo
/volumes/
