services:
    haproxy:
        build: /docker/haproxy
        working_dir: /docker/haproxy
        networks:
            - backbone
            - exter
        environment:
            - X-FRAME-OPTIONS="sameorigin"
        volumes:
            - 'haproxyCode:/code'
            - 'haproxyLogs:/var/log'
        ports:
            - '80:80'
            - '8404:8404'
        links:
            - mongo
            - n8n
            - elasticSearch
            - obsidian
    mongo:
        image: 'mongo:latest'
        container_name: mongo
        ports:
            - '8000:27017'
        working_dir: /docker/mongo
        volumes:
            - 'mongoDB:/etc/mongo'
        networks:
            - backbone
    n8n:
        image: 'n8nio/n8n:latest'
        container_name: n8n
        ports:
           - '8001:5678'
           - '8002:8080'
        working_dir: /docker/n8n
        volumes: 
            - 'n8ndata:/home/node/.n8n'
        networks: 
            - backbone
    elasticSearch:
        image: 'elasticsearch:8.6.0'
        container_name: elasticSearch
        environment:
            - discovery.type=single-node
        working_dir: /docker/elasticSearch
        volumes:
            - 'elasticDB:/usr/share/elasticsearch/data'
        ports:
            - '8003:9200'
            - '8004:9300'
        networks: 
            - backbone
    obsidian:
        build: '/obsidian/Dockerfile'
        image: 'ghcr.io/sytone/obsidian-remote:latest'
        container_name: obsidian
        restart: unless-stopped
        ports:
            - '8005:8080' 
            - '8006:27123'
        working_dir: /docker/obsidian
        volumes:
            - 'obsidianVault:/vaults'
            - 'obsidianConfig:/config'
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=America/New_York
            - DOCKER_MODS=linuxserver/mods:universal-git
        networks: 
            - backbone
networks:
    backbone:
        driver: bridge
        external: false
        name: backbone 
    exter:
        driver: bridge
        external: false
        name: exter
volumes:
    elasticDB:
    html:
    reverseProxyData:
    reverseProxyEncrypt:
    mongoDB:
    n8ndata:
    obsidianVault:
    obsidianConfig:
    haproxyCode:
    haproxyLogs:
